<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Sad Bot</title>
    <meta name="description" content="Sad Bot">
    <link id="favicon" rel="icon" href="https://cdn.discordapp.com/attachments/508030929571282964/621004160418054164/Sad_Bot.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:type" content="website">
    <meta name=”distribution” content=”global” />
    <meta name="theme-color" content="#7289da">
    <meta property="og:url" content="https://sad-bot1.glitch.me">
    <meta property="og:title" content="Sad Bot">
    <meta property="og:site_name" content="Sad Bot">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/508030929571282964/621004160418054164/Sad_Bot.png">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <!-- Compiled and minified CSS Materializecss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div id="themeDiv"><link href="../../css/black.css" rel="stylesheet" id="theme" /></div>

  </head>
    
    <header>
      <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>  <a href="https://polm174.gitbook.io/sad-bot/" rel="nofollow" target="_blank">Documentación</a> </li>
        <li>  <a href="/contribuidores" >Contribuidores</a> </li>
        <%if(login === 'si'){%>
        <li><a href="/logout">Salir</a></li>
        <%}%>
      </ul>
    </div>
  </nav>
    </header> 
  
     <div class="banner-container">
      <div class="contit">
      <div class="row norown center-align p-top">
        <div class="col s12">
          <div>
            <% if(guild.icon) { %>
            <img class="circle responsive-img" src="https://cdn.discordapp.com/icons/<%=guild.id%>/<%=guild.icon%>.png" width="200px" height="200px" alt="">
            <% } else { %> 
            <img class="circle responsive-img" src="https://images-ext-1.discordapp.net/external/NAqkMZNPJgDiWBrSDqniAD1_sbWfiPqF4mgZyCtVs6s/https/discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png?width=231&height=231" width="200px" height="200px" alt="">
            <% } %>
            <p>
              <span class="banner-name-server"> 
                 <%= `${guild.name}` %>
              </span>  
            </p> 
          </div>   
        </div>
      </div>
    </div>
  </div>

  
    <body>         
     <main>
       
    
    


       <% if(modo == 0){%>


       
     <div class="modcen">


                  
                  <div class="input-field col s12">

                    <form class="col s12" method="post" id="modo" action="/server/confi-moderacion/<%=guild.id%>/modo">
                    <button class="btn btn-info waves-effect waves-light" type="submit" id="btn_Enviar" name="modo" value="1" name="action">Activar Automod
                      <i class="material-icons right">done</i>
                    </button>
                    </form>
                  </div>
           </div>
       
       <div class ="moden2"><p>La automoderacion esta desactivada</p></div>
       <br><br><br><hr>  
       <div style="visibility: hidden">
    
      <% }else {%>

         
              <div class="modcen">

                   <div class="input-field col s12">
                    <form class="col s12" method="post" id="modo" action="/server/confi-moderacion/<%=guild.id%>/modo">
                    <button class="btn btn-info  waves-effect waves-light" type="submit" id="btn_Enviar" name="modo" value="0" name="action">Desactivar Automod
                      <i class="material-icons right">close</i>
                    </button>
                     </form>
                  </div>
                </div>
                 <div class ="moden2"><p>Quieres desactivar este apartado, click aqui</p>   </div>
              
        <% } %>
            
        <br><br><br><hr>   


     <div class="container server-info">
        <div class="body-server-stats">
          <div class="row">
            <div class="col s12">
            <h2 class="h2-perfil">Moderación</h2> 
            <p>El sistema de auto moderación es un sistema basado en advertencias, el usuario al llegar a las advertencias máximas sera muteado para evitar problemas, aquí abajo puede personalizar para que depende de lo que haga cuente más de una advertencia.</p>

            </div>            
          </div>

        </div>
      

         <div class="body-server-tabs">
          
           <div class="row">
 
            <div id="msgInterval" class="col s12">

               <form class="col s12" method="post" id="amod" action="/server/confi-moderacion/<%=guild.id%>/confi">
                <div class="row">
                  
                  <div class="input-field col s6">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Numero Maximo de Warns</label>
                    <i class="material-icons prefix">chat</i>
                    <input id="icon_prefix" type="text" name="admax" id="msg_input" class="validate" value="<%= admaxw %>">

                  </div>
                  
                  
                  <div class="input-field col s6">
                   <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Warns por Flood</label>

                    <i class="material-icons prefix">chat</i>
                    <input id="icon_prefix" type="text" name="adflood" id="msg_input" class="validate" value="<%= tadfloodw %>">
                    
                  </div>
                  
                  <div class="input-field col s6">
                     <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Warns por cantidad de menciones</label>
                    <i class="material-icons prefix">chat_bubble</i>
                    <input id="icon_prefix" type="text" name="admen" id="msg_input" class="validate" value="<%= tadmenw %>">
                    
                  </div>
                  
                  <div class="input-field col s6">
                     <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Invitación</label>
                    <i class="material-icons prefix">chat_bubble</i>
                    <input id="icon_prefix" type="text" name="adinv" id="msg_input" class="validate" value="<%= tadinfw %>">
                    
                  </div>
                  

                  
                  
                  <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" id="btn_Enviar" name="action">Guardar
                      <i class="material-icons right">done</i>
                    </button>
                  </div>
                </div>
              </form>
              


        </section>
            

            </div>

              
            </div>
            
          </div>

 </div>
      
      
      </div>

      
      
      
      
      
      
      
      
      
      
    </main>

  
    <footer>
      
                <hr>

      
      <div class="container center-align pd-2">

      <div class="footer-copyright">
    
       © 2020 Sad Bot
      
    
        </div>
      </div>
  
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script src="../../js/script.js"></script>
  </body>
</html>